
@import 'https://code.highcharts.com/css/highcharts.css';

body {
	background-color: #e5f3ff;
}

.grab-color {
	fill: #00b13f;
	stroke: #00b13f;
}

#container {

}

.chart {
	min-width: 310px; 
	height: 400px; 
	margin: 0 0 30px 0;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
	fill: #00b13f;
	stroke: #00b13f;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	stroke: #00b13f;
}
.highcharts-axis.highcharts-color-0 text {
	fill: #00b13f;
}
.highcharts-color-1 {
	fill: #00b13f;
	stroke: #00b13f;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
	stroke: #00b13f;
}
.highcharts-axis.highcharts-color-1 text {
	fill: #00b13f;
}


.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}
